print("hello world")
print(1+1)
print(10*10)
print(10/10)

In [10]:
# The sum of two even numbers will always be odd numbers.-False since the answer is 4
print(2+2)

4

In [13]:
#A positive value is always greater than a negative value? -True 
print( 2>-2)

True

In [14]:
#Can you divide a number by 0? 
print(100/0)

ZeroDivisionError: division by zero

In [17]:
#If x is less than 1 and y is greater than 1, x/y < 1?-true
x=-1
y=2
print(x/y)

-0.5

In [20]:
#The word "Google" contains 5 unique characters. True or False?-false 
print(len("Google"))
print(len("google"))

6
6

In [22]:
#If x>1 and y>1, then x*y>1?-True 
x=2
y=4
print(x*y)

8

In [23]:
#The product of 2 odd numbers and 1 even numbers= An even number?
print(3*5*2)

30

In [35]:
A={1,3,5}
B={1,2,3}
print(A.intersection(B))
print(A.union(B))

{1, 3}
{1, 2, 3, 5}

<br> **Practice**

In [24]:
a,b,c=1,2,3
print(a)

1

In [25]:
a=10
b=10
a is b

True

In [26]:
a="hello"
list(a)

['h', 'e', 'l', 'l', 'o']

In [40]:
#CONVERTING FLOAT TO INTEGERS: 
a=10
b=19.5
c=a+b
print(c)

x=int(10.5)
print(x)

y=int(10.5*2.75)
print(y)
y_1= 10.5*2.75
print(y_1)
#notice how lower rounding takes place when you convert float to integers)

29.5
10
28
28.875

In [42]:
#Convertng boolean to integer
x=int(True)
print(x)

1

In [46]:
#Convert string to integer
x=int("100"+"1")
print(x)

1001

In [52]:
#Logical Operaters: 
a=10
b=12
c=13
d=14 

print(a>c and b>d)
print(a<c and b<d)
print(a>c or b<d)
print(a<b and not c>d)

False
True
True
True

In [62]:
#How to capitalize/ lowercase letters in a string?
string="Hello my name is Nawmi" 
print(string.upper())
print(string.lower())

HELLO MY NAME IS NAWMI
hello my name is nawmi

In [69]:
#How to capitalize the first letter in a string?
string="hello my name is Nawmi" 
print(string.capitalize())
print(string.title())

Hello my name is nawmi
Hello My Name Is Nawmi

In [88]:
#How to find frequency of a substring in a string?
txt="hello my name is Nawmi" 
substring="o"
x=txt.count(substring)
print(x)

new_txt="Nawmi"
y=new_txt.count("a")
print(y)
print(new_txt.count("s"))

string="Azwad"
print(string.count("A"))

1
1
0
1

In [97]:
#How to find if a string starts and endswith a specific character? 
#How to find the position of a character in a string? 
Nawmi="AZ is my love" 
print(Nawmi.startswith("A"))
print(Nawmi.index("love"))

True
9

In [3]:
#How to remove spaces from a string?
#How to splice strings?
Nawmi="Ilove my parents8"
Withoutspace="print(Nawmi.replace(" ", ""))"
print(Nawmi.lstrip())
Withoutspace.isalpha()
Withoutspace.isdigit()
Withoutspace.isalnum()
print(Nawmi[0])
print(Nawmi[0:5])

Ilove my parents8
I
Ilove

#**List Splicing**

In [22]:
name=["nawmi", "mamoni", "baba","namiha"]
phone_number= [111,222,333,444]
phonebook=[name,phone_number]
print(name)
#How to print a specific element in a list?
print(phonebook[0:])# please note 
print(phonebook[0][0])
print(phonebook[0][0] , phonebook[1][0])

['nawmi', 'mamoni', 'baba', 'namiha']
[['nawmi', 'mamoni', 'baba', 'namiha'], [111, 222, 333, 444]]
nawmi
nawmi 111

In [23]:
#How to find out the length of a list?
len(phonebook)
len(phonebook[1])
len(phonebook[0])
len(phonebook[0][0])

5

In [28]:
"nawmi" in name

True

In [30]:
#How to insert a new element in a list?
name.insert(0,"Azwad")
print(name)

['Azwad', 'nawmi', 'mamoni', 'baba', 'namiha']

In [37]:
#How to reverse a list?
new_list=["Azwad","Nawmi","Rimi","Zarin","Sama"]
new_list1=[1,2,3,4,56,7,8,9]
new_list1.reverse()
new_list.reverse()
print(new_list1)
print(new_list)

[9, 8, 7, 56, 4, 3, 2, 1]
['Sama', 'Zarin', 'Rimi', 'Nawmi', 'Azwad']

In [38]:
#How to determine the frequency of an element in a list?
freelist=[4,4,5,5,5,6,6,6,7,8,9]
print(freelist.count(4))

2

In [40]:
#How to remove a character from list?
freelist.remove(4)
print(freelist)

[5, 5, 5, 6, 6, 6, 7, 8, 9]

In [48]:
#How to find minimum and maximum value in a list?
print(min(freelist))
print(max(freelist))
print(sum(freelist))

5
9
57

In [49]:
a=[1,2,3,4,5,6,7,8,9]
b=[1,2,3]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3]

In [53]:
c.sort()
print(c)

[1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [65]:
nawmi=("mi",1,3,4,4.1)
print(type(nawmi))
nawmi_1=("man","nam","yont","akshu")
print(type(nawmi_1))
nawmi_2="Family is my love"
print(type(nawmi_2))
nawmi_3=[1,2,3,4,5,6,"yaya","Nana"]
print(type(nawmi_3))
a=34
print(type(a))
b=34.1
print(type(b))

<class 'tuple'>
<class 'tuple'>
<class 'str'>
<class 'list'>
<class 'int'>
<class 'float'>

In [71]:
SetA={11,22,33,44,55,66,77,88,99}
SetB={11,21,31,41,51,61,71,81,91}
print(SetA.union(SetB))
print(SetB.union(SetA))
print(SetA.intersection(SetB))
print(SetB.intersection(SetA))
print(SetA.difference(SetB))
print(SetB.difference(SetA))

{33, 66, 99, 71, 41, 11, 44, 77, 81, 51, 21, 22, 55, 88, 91, 61, 31}
{33, 66, 99, 71, 41, 11, 44, 77, 81, 51, 21, 22, 55, 88, 91, 61, 31}
{11}
{11}
{33, 66, 99, 44, 77, 22, 55, 88}
{71, 41, 81, 51, 21, 91, 61, 31}

#Dictionary

In [74]:
Phone_book={"Nawmi": 111, "Azwad":222}